/*Color*/
$color-tone-1: #000000;
$color-tone-2: #787c7e;
$color-tone-3: #878a8c;
$color-tone-4: #d3d6da;
$color-tone-5: #edeff1;
$color-tone-6: #f6f7f8;
$color-tone-7: #ffffff;

$key-text-color: $color-tone-1;
$key-bg: $color-tone-4;
$correct-spot-color: #6aaa64;
$wrong-spot-color: #c9b458;
$none-spot-color: #787c7e;
