.worldle-table {
  box-sizing: border-box;
  padding: 20px;
  .wordle-row {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .wordle-char {
      border: 2px solid $color-tone-4;
      width: 60px;
      height: 60px;
      display: flex;
      font-size: 2em;
      font-weight: bold;
      justify-content: center;
      align-items: center;

      &.correct_spot {
        background-color: $correct-spot-color;
        color: $color-tone-6;
      }
      &.wrong_spot {
        background-color: $wrong-spot-color;
        color: $color-tone-6;
      }
      &.none_spot {
        background-color: $none-spot-color;
        color: $color-tone-6;
      }
    }
  }
}
